In [1]:
import pandas as pd

In [2]:
iso_mapping_df = pd.read_csv("./all.csv")
iso_mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      249 non-null    object
 1   alpha-2                   248 non-null    object
 2   alpha-3                   249 non-null    object
 3   country-code              249 non-null    int64
 4   iso_3166-2                249 non-null    object
 5   region                    248 non-null    object
 6   sub-region                248 non-null    object
 7   intermediate-region       107 non-null    object
 8   region-code               248 non-null    float64
 9   sub-region-code           248 non-null    float64
 10  intermediate-region-code  107 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 21.5+ KB

In [3]:
speeds_df = pd.read_csv("./Internet Speed 2022.csv")
speeds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    177 non-null    object
 1   broadband  177 non-null    float64
 2   mobile     136 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.3+ KB

In [4]:
iso_mapping_df.head(2)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN

In [5]:
# The code below was used to identify countries from speeds_df with a name 
# that differs from that listed in iso_mapping_df.

# merged = speeds_df.merge(iso_mapping_df,
#     left_on="country",
#     right_on="name",
#     how="outer")
# merged[merged["name"].isnull()].sort_values(by="country")["country"]
# for country in (merged[merged["country"].isnull()].sort_values(by="name")["name"]):
#     print(country)

In [6]:
countries_mapping = {
    "Bolivia": "Bolivia (Plurinational State of)",
    "Brunei": "Brunei Darussalam",
    "Cape Verde": "Cabo Verde",
    "Iran": "Iran (Islamic Republic of)",
    "Ivory Coast": "Côte d'Ivoire",
    "Laos": "Lao People's Democratic Republic",
    "Macau": "Macao",
    "Micronesia": "Micronesia (Federated States of)",
    "Moldova": "Moldova, Republic of",
    "Palestine": "Palestine, State of",
    "Russia": "Russian Federation",
    "South Korea": "Korea, Republic of",
    "Syria": "Syrian Arab Republic",
    "Taiwan": "Taiwan, Province of China",
    "Tanzania": "Tanzania, United Republic of",
    "United Kingdom": "United Kingdom of Great Britain and Northern Ireland",
    "United States": "United States of America",
    "Venezuela": "Venezuela (Bolivarian Republic of)",
    "Vietnam": "Viet Nam"
}

In [7]:
def get_converted_country_name(country_str):
    return countries_mapping.get(country_str, country_str)

In [8]:
speeds_df["mapped_country"] = speeds_df["country"].apply(get_converted_country_name)

In [9]:
speeds_df_with_regions = speeds_df.merge(iso_mapping_df,
    left_on="mapped_country",
    right_on="name",
    how="left")

In [10]:
speeds_df_with_regions[["country", "broadband", "mobile", "region", "sub-region"]]

,country,broadband,mobile,region,sub-region
0,Monaco,261.82,NaN,Europe,Western Europe
1,Singapore,255.83,105.01,Asia,South-eastern Asia
2,Hong Kong,254.70,83.58,Asia,Eastern Asia
3,Romania,232.17,59.67,Europe,Eastern Europe
4,Switzerland,229.96,135.70,Europe,Western Europe
...,...,...,...,...,...
172,Equatorial Guinea,7.95,NaN,Africa,Sub-Saharan Africa
173,Sudan,7.92,14.51,Africa,Northern Africa
174,Yemen,7.59,NaN,Asia,Western Asia
175,Turkmenistan,4.11,NaN,Asia,Central Asia
176,Cuba,4.01,25.02,Americas,Latin America and the Caribbean

In [11]:
speeds_df_with_regions.to_csv("./internet-speeds-with-regions.csv")

In [12]:
# https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes